{% extends '../base.html' %} {% block content %} {%load static %}

<div class="d-flex justify-content-center flex-column my-2">

   <div class="m-1 mb-3 col-12 col-md">
    <img src="{% static img %}" class="w-100 h-100" alt="loading error" />
    <div class="d-flex justify-content-center">
      <h6 class="text-center">{{ make }}</h6>
    </div>
  </div>

  {% for model in models %}
  <div class="d-flex justify-content-center">
    <a href="" class="text-center my-3">{{model.model_name}}</a>
  </div>

  {% endfor %}
</div>

{% endblock content %}
