<div id="title" class="d-flex justify-content-center mt-3">
  <a href="{% url 'index' %}" class="text-dark">GERMAN CAR WAREHOUSE</a>
</div>

<form action="{% url 'index' %}" method="post">
  {% csrf_token %}
  <div class="d-flex justify-content-center flex-wrap">
    <div class="m-2">
      <select id="carMake" class="custom-select" name="carMake">
        <option selected value="">CAR MAKE</option>
        {% for carMaker in carMakers %} {% if make and make == carMaker %}
        <option value="{{ carMaker }}" selected>{{ carMaker }}</option>
        {% else %}
        <option value="{{ carMaker }}">{{ carMaker }}</option>
        {% endif %} {% endfor %}
      </select>
    </div>
    <div class="m-2">
      <select id="carModel" class="custom-select" name="carModel">
        <option selected value="">CAR MODEL</option>
        {% if models %} {% for model in models %}
        <option value="{{model}}">{{model}}</option>
        {% endfor %} {% endif %}
      </select>
    </div>
    <div class="m-2">
      <select class="custom-select"  name="beginYear" value="">
        <option selected value="">BEGIN YEAR</option>
        {% for year in years %}
        <option value="{{year}}">{{year}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="m-2">
      <select class="custom-select" name="endYear" value="">
        <option selected value="">END YEAR</option>
        {% for year in years %}
        <option value="{{year}}">{{year}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="m-2">
      <input
        class="btn text-white bg-purple border-purple"
        type="submit"
        value="Submit"
      />
    </div>
  </div>
</form>
