<div class="d-flex justify-content-center flex-wrap">
  <div class="m-2">
    <select id="carMake" class="custom-select">
      <option selected>CAR MAKE</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="m-2">
    <select id="carModel" class="custom-select">
      <option selected>CAR MODEL</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="m-2">
    <select class="custom-select">
      <option selected>BEGIN YEAR</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="m-2">
    <select class="custom-select">
      <option selected>END YEAR</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div class="m-2">
    <input
      class="btn text-white bg-purple border-purple"
      type="submit"
      value="Submit"
    />
  </div>
</div>
